.contact2 {
    &-input {
        background-color: $white;
        padding: 60px;
        border-radius: 20px;

        @include breakpoint(max-lg) {
            margin-bottom: 30px;
        }
        @include breakpoint(max-sm) {
           padding: 30px 20px;
        }

        &__title {
            color: $title-color;
            font-family: $title-font;
            font-size: 80px;
            font-style: normal;
            font-weight: 300;
            line-height: 91.12px;
            letter-spacing: -3.2px;

            @include breakpoint(max-xl) {
                font-size: 65px;
                line-height: 65px;
            }
            @include breakpoint(max-sm) {
                font-size: 48px;
                line-height: 50px;
            }

        }

        &__form {
            &-control {
                width: 100%;
                border: none;
                border-bottom: 1px solid $border-color;
                padding: 36px 0 15px 0;
                @include breakpoint(max-xxsmall) {
                    padding: 20px 0 10px 0;
                 }

                &::placeholder {
                    color: $text-color;
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    @include breakpoint(max-xxsmall) {
                        font-size: 16px;
                        line-height: 28px;
                     }
                }
            }

            textarea {
                padding-bottom: 0;
            }
        }

        &__btn {
            display: inline-block;
            margin-top: 30px;

            a {
                background-color: $theme-color;
                padding: 15px 30px 30px 30px;
                border-radius: 100px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                gap: 15px;
                flex-shrink: 0;
                color: $white;
                font-family: $title-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 14px;
                text-transform: uppercase;
            }
        }
    }

    &-content {
        &__title {
            color: $title-color;
            font-family: $title-font;
            font-size: 80px;
            font-style: normal;
            font-weight: 600;
            line-height: 91.12px;
            letter-spacing: -3.2px;
            padding-bottom: 10px;

            @include breakpoint(max-xl) {
                font-size: 65px;
                line-height: 65px;
            }

            @include breakpoint(max-md) {
                font-size: 48px;
                line-height: 60px;
            }
            @include breakpoint(max-xxsmall) {
                font-size: 36px;
                line-height: 40px;
            }
        }

        &__text {
            color: $text-color;
            font-family: $body-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 30px;
            @include breakpoint(max-xxsmall) {
                font-size: 16px;
                line-height: 28px;
             }
        }

        &__map {
            max-width: 600px;
            height: 270px;
            border-radius: 20px;
            filter: grayscale(100%) invert(7%) contrast(83%);
            iframe {
                width: 100%;
                height: 100%;
                border-radius: 20px;

            }
        }
    }
}