.project2 {
    &-card {
        &__thumb {
            border-radius: 12px;
            position: relative;

            .img {
                width: 100%;
                border-radius: 20px;
            }

            &-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -30%);
                opacity: 1;
                transition: opacity 0.3s ease;
                transition: 0.4s all ease-in-out;
                opacity: 0;
                visibility: hidden;
                z-index: 9;
            }

            &::after{
                position: absolute;
                border: 1px solid $border-color;
                left: 50%;
                top: 50%;
                content: "";
                height: 92%;
                width: 95%;
                border-radius: 20px;
                transform: translate(-50%, -50%);
                transition: 0.4s all ease-in-out;
                opacity: 0;
            }

            &:hover .project2-card__thumb-icon{
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, -50%);
            }

            &:hover::after{
                opacity: 1;
            }
        }

        &-content {
            padding-bottom: 50px;
            @include breakpoint(max-lg) {
                padding-bottom: 30px;
              }
            &__title {
                color: $title-color;
                font-family: $title-font;
                font-style: normal;
                font-weight: 600;
                line-height: 41.76px;
                letter-spacing: -0.72px;
               

                h3 {
                    padding-top: 20px;
                    font-size: 36px;
                    padding-bottom: 10px;
                    @include breakpoint(max-xs) {
                        font-size: 30px;
                        line-height: 40px;
                      }
                    @include breakpoint(max-xxsmall) {
                        font-size: 26px;
                        line-height: 36px;
                      }
                }
            }

            &__desc {
                color: $text-color;
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                @include breakpoint(max-xs) {
                    font-size: 18px;
                    line-height: 26px;
                  }
                @include breakpoint(max-xxsmall) {
                    font-size: 16px;
                    line-height: 26px;
                  }
            }
        }

        &:hover {
            &__thumb{
                display: none;
            }
           
        }
    }

}