.work-process2 {
    background-color: $white;
    &-card {
        border-radius: 20px;
        border: 1px solid $border-color;
        background: $white;
        padding: 40px 50px 40px 40px;
        @include breakpoint(max-xl) {
            margin-bottom: 24px;
          }

          @include breakpoint(max-sm) {
            padding: 30px;
          }

        &__title {
            color: $title-color;
            font-family: $title-font;
            font-weight: 600;
            line-height: 41.76px;
            letter-spacing: -0.72px;
            padding-bottom: 12px;
            a{
                font-size: 36px;
                @include breakpoint(max-xxl) {
                    font-size: 30px;
                  }
            }
        }

        &__desc {
            color: $text-color;
            font-family: $body-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            @include breakpoint(max-xxsmall) {
                font-size: 16px;
                line-height: 26px;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 48px;
            @include breakpoint(max-sm) {
                margin-top: 30px;
              }

            &-thumb {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &-link {
                color: $title-color;
                font-family: $title-font;
                font-size: 14px;
                font-weight: 600;
                line-height: 14px;
                text-transform: uppercase;
                display: flex;
                align-items: center;

                .svg {
                    margin-left: 15px;
                    transition: transform 0.3s ease;
                }
            }
        }
    }
}
