.counter {
    &-box3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 30px;
        border: 1px solid $theme-color-2;
        background-color: $bg-color; 
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
        max-width: 353px;
        padding: 30px 67px; 
        @include breakpoint(max-sm) {
            padding: 20px 40px;
          }

        &__content {
            &-title {
                color: $title-color; 
                font-family: $title-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 41.76px;  
                letter-spacing: -0.72px;
                @include breakpoint(max-md) {
                    font-size: 28px;
                  }


            }
            &-desc {
                color: $text-color; 
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;  
                @include breakpoint(max-md) {
                    font-size: 18px;
                  }
            }
        }
    } 
}

.counter-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 100px;
    border: 1px solid $theme-color-2;
    background-color: $bg-color; 
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 34px; 
    max-width: 353px;
    margin-top: 20px;
    @include breakpoint(max-xxl) {
        padding: 20px 40px;
      }
    @include breakpoint(max-xxsmall) {
        padding: 20px 15px;
      }

    &__content {
        &-title {
            color: $title-color; 
            font-family: $title-font;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 41.76px;  
            letter-spacing: -0.72px;
            @include breakpoint(max-md) {
                font-size: 28px;
              }


        }
        &-desc {
            color: $text-color; 
            font-family: $body-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;  
            @include breakpoint(max-md) {
                font-size: 18px;
              }
        }
    }
}