/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/

.theme-btn {
    &.style1 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: $white;
        font-size: 14px;
        font-family: $title-font;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 999px;
        background: $theme-color;
        padding: 12px 30px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            margin-left: 6px;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color-2;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $theme-color !important;
            border: 1px solid $text-color;
            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color;
                }
            }
            &:before {
                top: -96%;
            }
        }
    }

    &.style2 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: $white;
        font-size: 14px;
        font-family: $title-font;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 999px;
        background: $theme-color-2;
        padding: 12px 30px;
        border: 1px solid $theme-color;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            margin-left: 6px;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            border: 1px solid $text-color;
            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color;
                }
            }
            &:before {
                top: -96%;
            }
        }
    }
    &.style3 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: $white;
        font-size: 14px;
        font-family: $title-font;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 999px;
        background: transparent;
        padding: 12px 30px;
        border: 1px solid $white;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            margin-left: 6px;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color-2;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $theme-color !important;
            border: 1px solid $text-color;
            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color;
                }
            }
            &:before {
                top: -96%;
            }
        }
    }
   
    &.style4{
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: $title-color;
        font-size:14px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 999px;
        background: $white;
        padding:11px 32px;
        justify-content: center;
        align-items: center;
        gap:20px;
        border: 1px solid $border-color;
        font-style: normal;
        font-weight: 600;
        line-height: 14px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
  
        a {
            color: $white!important;
            display: inline-block;
           
        }
        img{
            margin-left:16px;
        }
        
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color-2;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $theme-color !important;
            border: 1px solid $text-color;
            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color;
                }
            }
            &:before {
                top: -96%;
            }

            .svg-img {
                filter: sepia(100) saturate(1000%) hue-rotate(-10deg) brightness(100);
            }
        }
    } 
}

